<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Event Attendance Tracker</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="menu">
			<button class="menu-button" onclick="toggleMenu()">☰</button>
			<div class="menu-content" id="menuContent" style="display: none">
				<a href="#" onclick="showSection('main')">Home</a>
				<a href="#" onclick="showSection('lectures')">Lectures</a>
				<a href="#" onclick="showSection('settings')">Settings</a>
			</div>
		</div>

		<div id="main" class="content">
			<h1>Scan QR Code for Attendance</h1>
			<form id="cameraForm" enctype="multipart/form-data">
				<input type="file" accept="image/*" capture="camera" id="cameraInput" />
				<select id="actionSelector">
					<option value="check-in">Check-In</option>
					<option value="check-out">Check-Out</option>
				</select>
				<select id="lectureSelector"></select>
				<button type="button" onclick="submitQRCode()">Submit</button>
			</form>

			<div id="historyTab" style="margin-top: 20px">
				<h2>Attendance History</h2>
				<select id="lectureFilter" onchange="fetchHistory()">
					<option value="">All Lectures</option>
				</select>
				<table id="historyList">
					<thead>
						<tr>
							<th>Name</th>
							<th>Organization</th>
							<th>Lecture</th>
							<th>Check-In Time</th>
							<th>Check-Out Time</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>

		<div id="lectures" class="content" style="display: none">
			<h2>Manage Lectures</h2>
			<form id="lectureForm">
				<input
					type="text"
					id="newLectureName"
					placeholder="Enter Lecture Name"
					required
				/>
				<input
					type="text"
					id="lecturerName"
					placeholder="Enter Lecturer's Name"
					required
				/>
				<input
					type="datetime-local"
					id="startTime"
					placeholder="Start Time"
					required
				/>
				<input
					type="datetime-local"
					id="endTime"
					placeholder="End Time"
					required
				/>
				<button type="button" onclick="registerLecture()">Register</button>
			</form>
			<div id="registeredLectures">
				<h3>Registered Lectures</h3>
				<table id="lecturesList">
					<thead>
						<tr>
							<th>Lecture Name</th>
							<th>Lecturer</th>
							<th>Start Time</th>
							<th>End Time</th>
						</tr>
					</thead>
					<tbody>
						<!-- Lecture data will be inserted here -->
					</tbody>
				</table>
			</div>
		</div>
		<div id="settings" class="content" style="display: none">
			<h2>Settings</h2>
			<!-- Settings content will be added here later -->
		</div>

		<script src="{{ url_for('static', filename='script.js') }}"></script>
	</body>
</html>
